.floater .ant-float-btn-circle {
	height: 55px;
	width: 55px;
}

.caro .slick-arrow {
	color: red;
	border-radius: 14px;
	width: 32px;
	height: 32px;
	display: "flex";
	align-items: "center";
	justify-content: "center";
}

.pulse-border {
	border: 8px solid transparent; /* Initial border color */
	boreder-radius: 12px;
	box-shadow: 0 0 0 0 rgba(255, 215, 0, 0.5);
	animation: pulse-border 2s infinite;
}

@keyframes pulse-border {
	0% {
		border-color: white;
		box-shadow: 0 0 0 0 rgba(255, 215, 0, 0.5);
	}
	50% {
		border-color: gold; /* Replace with your desired color */
		box-shadow: 0 0 10px 5px rgba(255, 215, 0, 0.8);
	}
	100% {
		border-color: white;
		box-shadow: 0 0 0 0 rgba(255, 215, 0, 0.5);
	}
}

.myModal .ant-modal {
	width: "75%";
	height: "auto";
}
